#jianke .container {
  width: 1000px; }
#jianke a {
  cursor: pointer; }
  #jianke a:hover {
    color: #3797EB; }
#jianke .head .head-middle {
  padding-bottom: 25px; }
  #jianke .head .head-middle .container .logo-wrap h1 {
    font-size: 24px;
    line-height: 41px; }
  #jianke .head .head-middle .container .processing {
    width: 480px;
    height: 70px;
    background: url(../../images/list/processing.jpg) no-repeat;
    background-position: 0 -7px;
    background-size: contain; }
#jianke .main {
  min-height: 400px; }
  #jianke .main .tap-wrap .btns-wrap a {
    border: 1px solid #ddd;
    border-bottom: none;
    width: 121px;
    line-height: 40px;
    text-align: center; }
  #jianke .main .tap-wrap .btns-wrap a:nth-child(1) {
    border-right: none; }
  #jianke .main .tap-wrap .select-all-top {
    border: 1px solid #ddd;
    padding-left: 24px; }
    #jianke .main .tap-wrap .select-all-top p {
      line-height: 40px; }
    #jianke .main .tap-wrap .select-all-top p:nth-child(2) {
      width: 405px;
      padding-left: 30px; }
    #jianke .main .tap-wrap .select-all-top p:nth-child(3) {
      width: 162px;
      padding-left: 5px; }
    #jianke .main .tap-wrap .select-all-top p:nth-child(4) {
      width: 120px;
      margin-left: 7px; }
    #jianke .main .tap-wrap .select-all-top p:nth-child(5) {
      width: 50px;
      margin-right: 50px; }
    #jianke .main .tap-wrap .select-all-top p:nth-child(6) {
      width: 50px; }
  #jianke .main .tap-wrap .self-support {
    padding-left: 25px;
    height: 20px;
    margin: 10px 0 20px; }
    #jianke .main .tap-wrap .self-support p {
      margin-right: 10px; }
    #jianke .main .tap-wrap .self-support a {
      color: #fff;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      background: #3797EB;
      padding: 0 5px;
      height: 20px; }
  #jianke .main .order-wrap {
    min-height: 300px;
    background-color: rgba(231, 238, 211, 0.39); }
    #jianke .main .order-wrap .item {
      height: 81px;
      border: 1px solid #ddd;
      padding: 18px 0 18px 24px;
      background: #F3FBFE;
      border-top: none; }
      #jianke .main .order-wrap .item dd {
        overflow: hidden; }
      #jianke .main .order-wrap .item .choose {
        margin-right: 5px; }
      #jianke .main .order-wrap .item .main-pic {
        width: 120px;
        margin-left: 34px; }
        #jianke .main .order-wrap .item .main-pic a {
          width: 79px;
          height: 79px;
          border: 1px solid #F3FBFE; }
          #jianke .main .order-wrap .item .main-pic a img {
            width: 100%;
            height: 100%; }
          #jianke .main .order-wrap .item .main-pic a:hover {
            border-color: red; }
      #jianke .main .order-wrap .item .name {
        width: 100px; }
        #jianke .main .order-wrap .item .name a {
          color: black; }
      #jianke .main .order-wrap .item .size {
        width: 145px;
        margin-left: 62px; }
      #jianke .main .order-wrap .item .price {
        width: 100px;
        margin-left: 10px; }
        #jianke .main .order-wrap .item .price span {
          display: block;
          font-size: 14px; }
        #jianke .main .order-wrap .item .price .currprice {
          color: black; }
        #jianke .main .order-wrap .item .price .origprice {
          text-decoration: line-through; }
      #jianke .main .order-wrap .item .qty {
        margin-left: 25px; }
        #jianke .main .order-wrap .item .qty a {
          display: inline-block;
          width: 20px;
          height: 23px;
          border: 1px solid #ddd;
          vertical-align: middle;
          background-color: #ccc;
          font-size: 20px;
          text-align: center;
          line-height: 23px; }
        #jianke .main .order-wrap .item .qty input {
          width: 40px;
          height: 23px;
          border: 1px solid #ddd;
          vertical-align: middle;
          text-align: center; }
      #jianke .main .order-wrap .item .total {
        width: 50px;
        margin-left: 60px; }
      #jianke .main .order-wrap .item .fav {
        margin-left: 60px; }
    #jianke .main .order-wrap .item:nth-child(1) {
      border-top: 1px solid #ddd; }
  #jianke .main .check-out-wrap {
    margin-top: 20px;
    width: 100%;
    background-color: #eee; }
    #jianke .main .check-out-wrap li {
      line-height: 60px; }
      #jianke .main .check-out-wrap li:nth-child(5) a {
        width: 150px;
        background-color: #f40;
        line-height: 60px;
        text-align: center;
        color: white;
        font-size: 24px; }
      #jianke .main .check-out-wrap li:nth-child(1) {
        padding-left: 20px;
        margin-right: 20px; }
      #jianke .main .check-out-wrap li:nth-child(2) a {
        padding: 0 20px; }
      #jianke .main .check-out-wrap li:nth-child(3), #jianke .main .check-out-wrap li:nth-child(4) {
        margin: 0 50px; }
        #jianke .main .check-out-wrap li:nth-child(3) span, #jianke .main .check-out-wrap li:nth-child(4) span {
          display: block;
          line-height: 30px; }
#jianke .contact-wrap .container .contact-item {
  margin: 0 75px 0px 7px; }
#jianke .contact-wrap .container .contact-item:nth-child(5) {
  margin-left: -17px; }

/*# sourceMappingURL=cart.css.map */
